<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <main>
        <div class="glass">
            <div class="dashboard">
                <%- include('./login-navigation.ejs') %>
            </div>
            <div class="content">
                    <%- include('../contents/login.ejs') %>
            </div>
        </div>
        <div class="circle1"></div>
        <div class="circle2"></div>
    </main>
</body>