<div class="user">
    <img src="/user/tobias-graefe.jpg" alt="">
    <h2><%= username %></h2>
    <p><%= membershipLevel %></p>
</div>
<div class="links">
    <div class="link">
        <img src="/icons/list.svg" alt="">
        <h2>My Todos</h2>
    </div>
    <div class="link">
        <img src="/icons/group.svg" alt="">
        <h2>Groups</h2>
    </div>
    <div class="link">
        <img src="/icons/stats.svg" alt="">
        <h2>Statistic</h2>
    </div>
    <div class="link">
        <img src="/icons/settings.svg" alt="">
        <h2>Settings</h2>
    </div>
</div>
<div class="advertisement">
    
</div>