<div class="todos__list-item">
    <div class="todos__list-item-state"></div>
    <div class="todos__list-item-details">
        <h3>Framework bauen</h3>
        <p>Framework für Rhein Ruhr erstellen</p>
    </div>
    <div class="todos__list-item-assignedTo">
        <img src="/user/tobias-graefe.jpg" alt="">
        <h3>Jan</h3>
    </div>
</div>