<div class="user">
    <img src="/user/tobias-graefe.jpg" alt="" />
    <h2><%= username %></h2>
    <p><%= membershipLevel %></p>
</div>
<div class="links">
    <a class="link" href="/">
        <img src="/icons/list.svg" alt="" />
        <h2>My Todos</h2>
    </a>

    <a class="link" href="/groups">
        <img src="/icons/group.svg" alt="" />
        <h2>Groups</h2>
    </a>
    <a class="link" href="/stats">
        <img src="/icons/stats.svg" alt="" />
        <h2>Statistic</h2>
    </a>
    <a class="link" href="/settings">
        <img src="/icons/settings.svg" alt="" />
        <h2>Settings</h2>
    </a>
    <form action="/logout" method="post">
        <button class="link" type="submit">
            <img src="/icons/auth/logout.svg" alt="" />
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <h2>Logout</h2>
        </button>
    </form>
</div>
<div class="advertisement"></div>
