<div class="login-container">
    <% if(errorMessage) { %>
        <div class="error">
            <h2><%= errorMessage %></h2>
        </div>
    <% } %>
    <form class="form" action="/signup" method="post">
        <label for="username">Username:</label>
        <input class="form__control" type="text" name="username" />
        <label for="email">Email:</label>
        <input class="form__control" type="email" name="email" />
        <label for="password">Password:</label>
        <input class="form__control" type="password" name="password" />
        <label for="confirmPassword">confirm Password:</label>
        <input class="form__control" type="password" name="confirmPassword" />
        <button class="btn__submit" type="submit">Signup</button>
    </form>
</div>
