<div class="stats">
    <div class="stats__finished-wrapper">
        <h1>Congrats!</h1>
        <div class="stats__finished">
            <h3>You finished </h3><div class="circle"><span><%= finished %></span></div><h3> todos!</h3>
        </div>
    </div>
</div>
