<div class="todos">
    <div class="todos__status">
        <h1>Todos</h1>
        <a class="link" href="/add-todo">
            <img src="/icons/add.svg" alt="" />
            <h2>Add todo</h2>
        </a>
    </div>
    <div class="todos__list">
    <% if(todos.length > 0){ %>
        <h3>Active todos</h3>
            <% for(let todo of todos) { %>
                <%- include('../includes/todo-item.ejs', {todo: todo.todoId}) %>
            <% } %>
        <% } else { %> 
            <h2>Nothing to do so far!</h2>
        <% } %>
        
    </div>
</div>
