<div class="todos">
    <div class="todos__status">
        <h1>Todos</h1>
        <a class="link" href="/add-todo">
            <img src="/icons/add.svg" alt="" />
            <h2>Add todo</h2>
        </a>
    </div>
    <% if(todos.length > 0){ %>
        <div class="todos__list">
            <% for(let todo of todos) { %>
                <div class="todos__list-item">
                    <div class="todos__list-item-state"></div>
                    <div class="todos__list-item-details">
                        <h3><%= todo.title %></h3>
                        <p><%= todo.details %></p>
                    </div>
                    <div class="todos__list-item-assignedTo">
                        <img src="/user/tobias-graefe.jpg" alt="" />
                        <h3>Holger</h3>
                    </div>
                </div>
                
            <% } %>
        <% } else { %> 
            <h2>Nothing to do so far!</h2>
        <% } %>
        
    </div>
</div>
